.transition {
    transform: translateX(0);
    transition: all 1s ease;
}

.transition:hover {
    transform: translateX(100px);
}

.animation {
    animation: animDown 1s steps(5) infinite;
    animation-delay: 2s;
}

@keyframes animDown {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(100px);
    }
}
